<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.DatabaseName}}</title>
</head>

<body>
    <h1>{{.DatabaseName}}</h1>
    <ul>
        {{range .CollectionNames}}
        <li>
            <a href="/collection?name={{.}}">{{.}}</a>
        </li>
        {{end}}
    </ul>
</body>
</html>